body{
    margin: 0;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    display: flex;
    & li{
        &:hover > ul{
            opacity: 1;
        }
        & ul{
            display: block;
            opacity: 0;
            position: absolute;
            transition: opacity 400ms;
            transition-delay: 300ms;
            & li {
                position: relative;
                right: -80px;
            }
        }
    }
}